*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    color: #5f5d60;
    margin: 0;
    font-size: 3rem;
    text-align: center;
}

.line {
    top: 0;
    bottom: 0;
    position: relative;
    z-index: 1;
}

.line:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1rem;
    width: 0%;
    height: 6px;
    background: #5f5d60;
    z-index: -1;
    transition: all 2s;
}

.line.isActive:after {
    width: 100%;
}

/* opening shutter */

.shutter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999;
}

.shutter {
    animation: byeShutter 2.6s forwards;
}

@keyframes byeShutter {
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

span.loading {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;
    font-size: 3rem;
}

span.loading span {
    display: inline-block;
    vertical-align: middle;
}

span.loading span:nth-of-type(1) {
    animation: animation 2.6s ease 0s infinite;
}

span.loading span:nth-of-type(2) {
    animation: animation 2.6s ease 0.1s infinite;
}

span.loading span:nth-of-type(3) {
    animation: animation 2.6s ease 0.2s infinite;
}

span.loading span:nth-of-type(4) {
    animation: animation 2.6s ease 0.3s infinite;
}

span.loading span:nth-of-type(5) {
    animation: animation 2.6s ease 0.4s infinite;
}

span.loading span:nth-of-type(6) {
    animation: animation 2.6s ease 0.5s infinite;
}

span.loading span:nth-of-type(7) {
    animation: animation 2.6s ease 0.6s infinite;
}

@keyframes animation {
    0% {
        margin-top: 0;
    }
    5% {
        margin-top: -1em;
    }
    10% {
        margin-top: 0;
    }
    13% {
        margin-top: -0.5em;
    }
    16% {
        margin-top: 0;
    }
    18% {
        margin-top: -0.2em;
    }
    20% {
        margin-top: 0;
    }
}

/* navigation */

#menu a {
    text-decoration: none;
    color: #1E1E23;
    opacity: 1;
    font-size: 1.5rem;
    transition: 200ms;
}

#menu a:hover {
    opacity: 0.5;
}

#menu ul {
    padding: 0;
    list-style-type: none;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 2em;
    right: 8%;
    z-index: 1;
    user-select: none;
}

#menuToggle input {
    display: flex;
    width: 2rem;
    height: 2rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: flex;
    width: 34px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: fixed;
    width: 180px;
    height: 789px;
    right: 0%;
    box-shadow: 0 0 10px #85888C;
    top: 0;
    margin-top: 0;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    display: block;
}

#menu li {
    padding: 10px 0;
    transition-delay: 2s;
    list-style: none;
}

#menuToggle input:checked~ul {
    transform: none;
}

/* home  */

.mainLogo {
    height: 100vh;
    background-image: url("../img/aaron-burden-YIkhLVA4PdE-unsplash2400*1798.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    top: 0;
}

.header-left {
    float: left;
    color: rgb(0, 0, 0);
}

.first-name {
    font-size: 7rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 0);
    letter-spacing: 0.05em;
}

.fuwafuwa {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;
    animation: wobbling_x 2.7s ease-in-out infinite alternate, wobbling_y 3s ease-in-out infinite alternate;
}

@keyframes wobbling_x {
    0% {
        margin-left: 8px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes wobbling_y {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 8px;
    }
}

/* about */

#about {
    height: 45rem;
    background: linear-gradient(to top, #f2ebe7 90%, transparent);
}

#about h2 {
    padding: 3.5rem 0 1.7rem 0;
    letter-spacing: 0.1em;
}

.about-contents {
    display: flex;
    flex-direction: column;
}

.about-list {
    text-align: center;
}

.fade-off {
    opacity: 0;
    transition: all 2s;
}

.fade-on {
    opacity: 1;
}

#personality {
    height: 40rem;
    background: linear-gradient(to top, #e0d5ca, #f2ebe7);
    display: block;
}

#personality h2 {
    padding: 2rem 0 0 0;
}

.per-contents {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
}

.per-contents p {
    font-size: 1.2rem;
    padding: 1rem 0.7rem;
}

.per-img {
    height: 10rem;
    width: 10rem;
    margin: 1rem 1rem 1rem 7rem;
}

.balloon {
    position: relative;
    display: inline-block;
    margin: 1.5rem 5rem;
    height: 6rem;
    width: 15rem;
    color: #555;
    background: #79c4c4;
    border-radius: 10px;
}

.balloon ::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 3rem;
    margin-left: 3rem;
    border: 15px solid transparent;
    border-top: 15px solid #79c4c4;
}

.balloon:hover {
    transform: translate(0, -7px);
}

.balloon p {
    margin: 0;
    padding: 2rem;
    text-align: center;
}

/* skill */

#skill {
    height: 31.25rem;
}

#skill h2 {
    padding-top: 4rem;
    letter-spacing: 0.1rem;
}

.skill-icons {
    margin: 3rem;
    display: flex;
    justify-content: space-around;
}

.skill-icon1 {
    font-size: 10rem;
    color: #79c4c4;
}

.skill-icon2 {
    font-size: 8rem;
    color: #79c4c4;
    align-self: center;
}

.skill-icon3 {
    font-size: 11rem;
    color: #79c4c4;
    align-self: center;
    padding: 0 1rem;
}

/*  portfolio */

#portfolio {
    height: 31.25rem;
    background-color: #e0d5ca;
}

#portfolio h2 {
    padding-top: 4rem;
}

.portfolios {
    display: flex;
    justify-content: center;
}

.portfolios img {
    margin: 5rem;
}

/* contact */

#contact h2 {
    padding-top: 4rem;
}

.cont-form {
    position: relative;
    margin: 3rem auto 3rem auto;
    color: #726659;
    text-align: center;
}

.cont-form input {
    width: 30rem;
    height: 3rem;
    padding: 0 1rem 0 1rem;
    background: transparent;
    background-color: #e0d5ca;
    color: #726659;
    border: solid 1px #b3aca7;
    transition: all ease-in-out;
}

.cont-form input:hover {
    background: #b3aca7;
}

.cont-form input:focus {
    background: #e0d5ca;
    outline: 2px solid #726659;
    color: #726659;
}

.cont-form textarea {
    width: 30rem;
    height: 7rem;
    max-height: 7rem;
    padding: 1rem;
    background: transparent;
    background-color: #e0d5ca;
    color: #726659;
    border: solid 1px #b3aca7;
    transition: all ease-in-out;
}

.cont-form textarea:hover {
    background: #b3aca7;
}

.cont-form textarea:focus {
    background: #e0d5ca;
    outline: 2px solid #726659;
    color: #726659;
}

.cont-submit {
    width: 30rem;
    padding: 0;
    margin-top: 1rem;
    color: #726659;
    cursor: pointer;
    border: solid 1px #b3aca7;
    transition: all ease-in-out;
}

.cont-submit:hover {
    color: white;
}

/* footer */

footer {
    height: 6rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #00A0A0;
}

.footer-link {
    margin-bottom: 1rem;
}

.footer-link a {
    margin-right: 1rem;
    color: black;
}

.copyright {
    font-size: 0.875rem;
}